h1
{
    color: #055004;
    font-size: 30pt;
    font-family: 'DM Serif Text', serif;
    padding-top: 30px; /* Senggey sikit */
    margin-bottom: 20px; /*Jarak di luar elemen, antara elemen dengan elemen lain*/

}

h2
{
    color: #055004;
    font-size: 20pt;
    font-family: 'DM Serif Text', serif;
    padding: 20px; /*padding: atas kanan bawah kiri*/
}

p
{
    color: #1e5c19;
    font-size: 15pt;
    font-family: 'Funnel Display', sans-serif;
    margin-top: 10px;

}

body
{
    background-color: #fffdd0;
    font-family: 'Funnel Display', sans-serif;

}

* 
{
    margin: 0;
    padding: 0;
}

/*Home Section*/
ul
{
     margin-left: 25px;
}


ul li
{
    list-style: none;
    display: inline;
    line-height: 100px;
    float: left;
}

ul li a
{
    text-decoration: none;
    font-family: arial;
    font-size: 16pt;
    color: #ffffff;
    padding: 0 20;
    display: block;
}

ul li a:hover
{
    color: rgb(0, 68, 51);
}

nav
{
    width: 100%;
    height: 100px;
    font-family: 'Times New Roman';
    background-color: #849e46;
}

.home
{
    background-image: url(../images/bg/belok.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.content 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content p
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.center-box1 
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;

    background-image: url('../images/home/ciknikalu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box2
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;

    background-image: url('../images/home/edu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box3
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;

    background-image: url('../images/home/experiences.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box4
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;

    background-image: url('../images/home/portfolio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box5
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;
    background-image: url('../images/home/galeri.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box6
{
    display: block;
    width: 70%;
    max-width: 800px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 15px 3px #00000033;
    text-align: center;
    background-color: #f9f9f9;

    background-image: url('../images/home/contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(40, 66, 28, 0.7);
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
}

.center-box1:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.center-box2:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.center-box3:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.center-box4:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.center-box5:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.center-box6:hover 
{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Deskripsi dalam kotak */
.box-description 
{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium';
}

/* Deskripsi utama dalam kotak */
.description 
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    color: #333;
    text-align: left;
    font-size: 16px;
    max-height: 150px;
    overflow-y: auto;
}

.description h2 
{
    font-size: 20px;
    margin-bottom: 10px;
}

.description p 
{
    font-size: 14px;
    color: #555;
}

/*Footer Section*/

footer 
{
    width: 100%; 
    background-color: #849e46; 
    text-align: center; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0;
}

footer p
{
    color: white;
    font-size: 15px;
}

.social-media 
{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-media a 
{
    color: white;
    font-size: 30px;
}

.social-media a:hover 
{
    color: #000000;

}

/*Contact*/

.contact
{
    background-image: url(../images/bg/3.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

.map-contact-container 
{
    display: flex;
    justify-content: space-around; /*Memberi ruang yang sama di antara setiap elemen serta di sekeliling elemen*/
    align-items: flex-start; /*Menyusun elemen secara menegak*/
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap; /*kalu x cukup ruang, yo gerok ke barisan baru*/
}

.mapbox 
{
    width: 60%;
    height: 600px;
    background-size: cover;
    padding-top: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden; 
    position: relative; 
}

.mapbox iframe 
{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.contactbox 
{
    width: 30%;
    height: auto;
    float: right;
    box-sizing: border-box;
    padding: 30px;
    background-color: #b9ffb0;
    border: 2px solid #afafaf;
    border-radius: 10px;
    margin-top: 150px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
}

.messagebox h2
{
    color: #083f06;
}

.messagebox 
{
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    background-color: #cada3e;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
}

.form-group 
{
    margin-bottom: 20px;
}

label 
{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Verdana, Tahoma, sans-serif;
}

input, textarea 
{
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
}

textarea 
{
    height: 150px;
    resize: vertical; 
}

button {
    background-color: #fffbc6;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; /*boleh diklik*/
    font-weight: 700;
}


/*About Me*/

.about-description 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-description p
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.about
{
    background-image: url(../images/bg/3.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
}


.container 
{
    display: flex; 
}

.left-column 
{
    flex: 1;
    margin-right: 20px;
}


.audio-container
{
    display: flex; 
    justify-content: center; 
}

.audio-box 
{
    border: 2px solid #000000; 
    padding: 20px; 
}

.audio-box h2 
{
    text-align: left;
}    

.audio-box ol 
{
    padding: 0; 
    list-style-type: none; 
    /*menghilangkan penanda (bullet points atau nombor) pada elemen senarai seperti <ul> dan <ol>.*/
}

.audio-box ol li 
{
    margin-bottom: 20px; 
    text-align: center;
}

.audio-box audio 
{
    display: block; 
    margin: 10px auto; 
}

.left-column 
{
    flex: 1; 
    margin-right: 20px; 
}

.right-column 
{
    flex: 1; 
    background-color: #fffdd0;
    margin-left: 50px;
    margin-right: 50px;
}

.fav-color
{
    border: 2px solid #000000; 
    padding: 20px; 
}

.audio-box 
{
    border: 2px solid #000000; 
    padding: 20px; 
}

.audio-box ol li 
{
    text-align: center; 
}

table, td, tr 
{
    border: 1.5px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 600px; 
    text-align: center;
    margin-left: 50px; 
    padding: 10px; 
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    background-color: fffdd0;
}

.box-1
{
        width: 25%;
        height: 300px;
        float: left;
}

.placeholder 
{
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; 
    margin-left: 100px; 
    margin-bottom: 20px; 
}

.placeholder img 
{
    width: 500px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.placeholder img:hover
{
    transform: scale(1.1);
}

.clear 
{
    clear: both; 
}

.placeholder-green 
{
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.placeholder-green img 
{
    width: 200px; 
    border-radius: 60px;
}

/*kotok blakey kali anime*/
.anime-box, .anime1-box 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 900px;
    justify-items: center;
    margin: 0 auto;
    background-color: #fdffde;
    padding: 15px;
    border: 2px solid #b9b9b9;
    border-radius: 30px;
    margin-bottom: 50px;
}

.anime-grid, .anime1-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* fractional unit (fr): macam bahagi ruang ikut nisbah */
    gap: 30px;
    max-width: 1000px; 
    justify-items: center; 
    margin: 0 auto;
}

/*Kotok Blakey Gambar*/
.anime-item, .anime1-item {
    border: 2px solid #fff1f1;
    padding: 8px; 
    text-align: center;
    background-color: #fffeb4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    border-radius: 10px;
    width: 180px; 
    height: auto;
}

.anime-item img, .anime1-item img 
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}


/* Hover effect */
.anime-item:hover, .anime1-item:hover {
    transform: scale(1.05);
}



/*Gallery Section*/

.gallery
{
    background-image: url(../images/bg/2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;  
}

.gallery-description 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-description p 
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.family-container 
{
    display: flex; 
    flex-wrap: wrap; /* element hk lepah yo tu susun baris bawah biar xwi tubik kotok */
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.family-member 
{
    text-align: center; 
    background-color:#cafdbd; 
    padding: 20px; 
    border: 2px solid #4e4b4b; 
    border-radius: 8px;
    width: 250px; 
    box-shadow: 0 4px 6px #0000001a; 
    margin: 10px; 
}

.family-member img, .family-member1 img, .friends img, .Meow img, .Meoww img 
{
    width: 200px; 
    height: 200px; 
    object-fit: contain;
    border-radius: 10px; 
}


.family-member p 
{
    margin: 5px 0; 
    font-size: 16px;
    color: #000000;
}

.family-member p1 
{
    font-family: Arial;
    color: #000000c9;
    margin: 5px 0; 
    font-size: 15px;
}

.family-container1 
{
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.family-member1 
{
    text-align: center; 
    background-color:#cafdbd; 
    padding: 20px; 
    border: 2px solid #4e4b4b; 
    border-radius: 8px; 
    width: 250px; 
    box-shadow: 0 4px 6px #0000001a; 
    margin: 10px; 
}

.family-member1 p 
{
    margin: 5px 0; 
    font-size: 16px;
    color: #000000;
}

.family-member1 p1 
{
    font-family: Arial;
    color: #000000c9;
    margin: 5px 0; 
    font-size: 15px;
}

.family-description 
{
    background-color: #fafae6cc;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.family-description p 
{
    color: #000; 
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}
.friends-container 
{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.friends-description 
{
    background-color: #fafae6cc; 
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px #0000001a;
}

.friends-description p 
{
    color: #000;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.friends 
{
    text-align: center; 
    background-color:#cafdbd; 
    padding: 20px; 
    border: 2px solid #4e4b4b; 
    border-radius: 8px; 
    width: 250px; 
    box-shadow: 0 4px 6px #0000001a; 
    margin: 10px; 
}

.friends p 
{
    margin: 5px 0;
    font-size: 16px;
    color: #000000;
}

.friends p1 
{
    font-family: Arial;
    color: #000000c9;
    margin: 5px 0; 
    font-size: 15px;
}

.meow-container 
{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.meow-description 
{
    background-color: #fafae6cc; 
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px #0000001a;
}

.meow-description p 
{
    color: #000; 
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.meow 
{
    text-align: center; 
    background-color:#cafdbd; 
    padding: 20px; 
    border: 2px solid #4e4b4b; 
    border-radius: 8px; 
    width: 250px; 
    box-shadow: 0 4px 6px #0000001a;
    margin: 10px;
}


.meow p 
{
    margin: 5px 0; 
    font-size: 16px;
    color: #000000;
}

.meow p1 
{
    font-family: Arial;
    color: #000000c9;
    margin: 5px 0; 
    font-size: 15px;
}

.meoww-container 
{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.meoww-description 
{
    background-color: #fafae6cc;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px #0000001a;
}

.meoww-description p 
{
    color: #000;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.meoww 
{
    text-align: center; 
    background-color:#cafdbd; 
    padding: 20px; 
    border: 2px solid #4e4b4b;
    border-radius: 8px; 
    width: 250px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}


.meoww p 
{
    margin: 5px 0; 
    font-size: 16px;
    color: #000000;
}

.meoww p1 
{
    font-family: Arial;
    color: #000000c9;
    margin: 5px 0; 
    font-size: 15px;
}

/* Education Section */

.education
{
    background-image: url(../images/bg/2.png);
}

.education-description 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-description p 
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}

.fb-link a 
{
    text-decoration: none; 
    color: inherit; 
}

.fb 
{
    display: flex;
    flex-direction: row; /* Susun elemen dalam satu baris */
    justify-content: center; 
    align-items: flex-start; /* Selaraskan elemen ke atas */
    gap: 20px; 
    padding: 20px;
    flex-wrap: nowrap; /* Pastikan elemen tidak turun ke baris baru */
}

.education-logo 
{
    text-align: center;
    background-color: #fffdd0;
    padding: 40px;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 400px; 
    height: 500px; 
    box-shadow: 0 4px 6px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.education-logo img 
{
    width: 100%;
    height: 200px; 
    object-fit: contain;
    border-radius: 5px;
    background-color: #ffffff;
    border: 3.5px solid #ffffff;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-logo img:hover 
{
    transform: scale(1.05); 
    box-shadow: 0 4px 12px #00000033;
}

.education-logo p 
{
    margin: 5px 0; 
    font-size: 18px; 
    color: #000000;
    font-weight: normal;
}


.education-logo a 
{
    text-decoration: none;
    color: inherit; 
}

.education-logo b p 
{
    font-weight: bold;
    color: #000000;
}

/*Portfolio Section*/

.portfolio 
{
    background-image: url(../images/bg/3.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
}


.portfolio-box, .portfolio1-box 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 900px;
    justify-items: center;
    margin: 0 auto;
    background-color: #fdffde;
    padding: 60px;
    border: 2px solid #b9b9b9;
    border-radius: 30px;
    margin-bottom: 50px;
}

.portfolio-grid, .portfolio1-grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fractional unit (fr): macam bahagi ruang ikut nisbah */
    gap: 30px;
    max-width: 900px; 
    justify-items: center; 
    margin: 0 auto;
    margin: 30px;
}

/*Kotok Blakey Gambar*/
.portfolio-item, .portfolio1-item {
    border: 2px solid #fff1f1;
    padding: 8px; 
    text-align: center;
    background-color: #fffeb4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    border-radius: 10px;
    width: 230px; /* Menentukan lebar kotak dan gambar */
    height: auto; /* Kekalkan ketinggian auto supaya gambar berskala dengan betul */
}

.portfolio-item img, .portfolio1-item img 
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}


.portfolio-item:hover, .portfolio1-item:hover 
{

    transform: scale(1.05);
}

.portfolio-description 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-caption 
{
    background-color: rgba(255, 255, 255, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-description p 
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}
/*Experiences Section*/

.experience-bg
{
    background-image: url(../images/bg/3.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
}


.experience 
{
    background-color: rgba(250, 255, 176, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.business-description, .intern-description 
{
    background-color: rgba(255, 255, 255, 0.8); /* Transparent box */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience p, .business-description p ,.intern-description p
{
    color: #000; 
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Funnel Display', sans-serif;
}



.experience-item img 
{
    width: 30%; 
    height: auto;
    border: 3px solid #ddd; 
    border-radius: 20px; 
    margin: 0 auto; 
    display: block; 
    margin-top: 25px;
}

.kijo-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px; 
}

.experience-item {
    flex: 1;
    max-width: 33%;
    box-sizing: border-box;
}

.keda img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.exp-table 
{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.exp-table table 
{
    width: 80%; 
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f5dca7;
}


.exp-table table, .exp-table th, .exp
{
    border: 1px solid #000000; 
}

.exp-table th, .exp-table td 
{
    padding: 20px; 
    text-align: left;
    font-size: 16px; 
}

.exp-table caption 
{
    color: #1e5c19;
    font-size: 13pt;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.exp-table td b 
{
    font-size: 16px; 
    line-height: 1.5; 
}

.kias img 
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
